@model IEnumerable<PriceViewModel>

@{
    ViewData["Title"] = "Цена";
}

@section Styles {
    <link rel="stylesheet" href="~/css/price/style.css" asp-append-version="true">
}

<section style="margin-bottom: 100px;">
    <partial name="_Backbtn" />
</section>

<section class="price-section">
    <div class="container-fluid custom-price-container d-flex justify-content-center flex-wrap">
        @foreach (var p in Model)
        {
            <div class="price-card">
                <div class="gradient-overlay"></div>
                <div class="row h-100">
                    <div class="col-6 price-card-content justify-content-start">
                        <div class="price-card-fp">
                            <div class="price-card-label"><span class="asterisk">*</span>@p.Name.</div>
                            <p class="price-card-text">
                                @p.Description
                            </p>
                            <a class="order-link" asp-area="" asp-controller="Request" asp-action="Index">Заказать</a>
                        </div>
                        <div class="price-card-price-container">
                            <div class="price-card-price-label">Минимальный бюджет*</div>
                            <div class="price-card-price">от @p.MinCost₽</div>
                        </div>
                    </div>
                    <div class="col-6 price-card-img-content justify-content-end">
                        @* <img src="~/price/render_1.png" alt="Разработка сайта" class="price-card-image"> *@
                        <img src="@Url.Action("GetPreviewImage", "Price", new { id = p.Id })" 
                            alt="@p.Name" class="price-card-image" 
                            onerror="handleImageError(this, 'preview-image-wrapper', 'Превью изображение')">
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<vc:contact-form />